h2,h1 {
		font-family: arial, sans-serif;
		font-size: large;
		font-weight: bold;
		color: green;	
	    }
span.menuitem {
		font-size: large;
		color:indigo;
		}
#menu, div {
	background-color: yellow;
	}
#contact {
		font-weight: bold;
		}
a:link    {color: green; background-color:transparent; text-decoration:none;}
a:visited {color: pink; background-color:transparent; text-decoration:none;}
a:hover   {color: red; background-color:orange; text-decoration:underline; font-weight:bold;}
a:active  {color: yellow; background-color:transparent; text-decoration:none;}