	 h2,h1 {
		font-family: arial, sans-serif;
		font-size: large;
		font-weight: bold;
		color: green;	
	    }

         td {
            color: brown;
	    border-color:blue;	
         }
	   a:link    {color: green; background-color:transparent; text-decoration:none;}
a:visited {color: pink; background-color:transparent; text-decoration:none;}
a:hover   {color: red; background-color:orange; text-decoration:underline; font-weight:bold;}
a:active  {color: yellow; background-color:transparent; text-decoration:none;}
      
   