<form action="ContactUs.html" method="post">
<table width="50%">
	<tr>
		<td align="right">First Name:</Td>
		<td> <input type="text" name="Fname" ></td>
	</tr>
	<tr>
	 	<td align="right">Last Name:</td>
		<td> <input type="text" name="Lname"></td>
	</tr>
	<tr>
	     	<td align="right">Email:</td>
		<td><input type="text" name="Email"></td>
	</tr>
	<tr>
   		<td align="right">Type of License:</td>
		<td><INPUT type="radio" name="answer" value="business" checked>Business
		    <input type="radio" name="answer" value="Personal">Personal</td>
	</tr>
	<tr>
		<td align="right">Reason:</td>
		<td> <select name="reason">
			<option value="Select a Reason">Select a Reason</option>
			<option value="Software Support">Software Support</option>
			<option value="Hardware Support">Hardware Support</option>
			<option value="Information Request">Information Request</option>
		</select></td>
	</tr>
	<tr>
		<td align="right">Additional Information:</td>
		<td> <textarea name="additionalinfo"></textarea></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="checkbox" name="termsofservice">I have read the terms of service</td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" value="Send Request"></td>
	</tr>
</table>
</form>		