h2,h1 {
		font-family: oswald, sans-serif;
		font-size: large;
		font-weight: bold;
		color: green;	
	    }
span.menuitem {
		font-size: large;
		color:indigo;
		}
#menu, div {
	background-color: yellow;
	}
#contact {
		font-weight: bold;
		}
@font-face {
		font-family: 'Oswald', sans-serif;
		font-family: 'Monda', sans-serif;
		font-style: normal;
		font-weight:400;
	    }