	 h2,h1 {
		font-family: oswald, sans-serif;
		font-size: large;
		font-weight: bold;
		color: green;	
	    }

         td {
            color: brown;
	    border-color:blue;	
         }
      
   	@font-face {
		font-family: 'Oswald', sans-serif;
		font-family: 'Monda', sans-serif;
		font-style: normal;
		font-weight:400;
	    }
